<a href="https://colab.research.google.com/github/dharveshkhan/me/blob/master/py_excercise4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
a=(1,2,3,4,[4,5],'a')
print(a)

(1, 2, 3, 4, [4, 5], 'a')

In [11]:
ak=("dh")
print(type(ak)) #single item python is confused. but add a coma and it will recognize it as a tuple

<class 'str'>

In [15]:
print(a)
print(a[0])
print(a[4][0])

(1, 2, 3, 4, [4, 5], 'a')
1
4

concatention of tuples via + sign.

In [17]:
l=("dharves",)
l*=4
print(l)

('dharves', 'dharves', 'dharves', 'dharves')

del(tuple) is for deleting tuple

In [20]:
j=(1,2,43,2)
j.count(2) #how many times
j.index(2) #returns index

1

Set is unoerdered collection no indesxing
every element must be unique
sets can do union difference inte3section etc

In [21]:
my={} # not correct way of initiatlize empty set as it initialises empty dict

#instead

my2=set()
print(type(my2)) #correct way

<class 'set'>

In [29]:
t=[1,2,3,4,4,5,5,6,7,8] #simple to remove duplicates convert to set.
mys=set(t)
print(mys)
mys.add(11) #allows add to end of set. notanywyere else because its unorered
print(mys)
mys.update([12,13,14]) #adding a list to the set. Single element cannot be added oinly list.
print(mys)

#tuples can be present as element not list of a set

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 11}
{1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14}

In [44]:
y={1,2,3,4,5,6,7}
y.remove(3) #remove the sai element but raised keyerror if no element present. discard same but no error. popremoves random item. clear delete full
print(y)
y.update((9,23))
print(y)
y.update([8,11])
print(y)
y.clear()
print(y)

{1, 2, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7, 9, 23}
{1, 2, 4, 5, 6, 7, 8, 9, 11, 23}
{2, 4, 5, 6, 7, 8, 9, 11, 23}

#union returns unique values print(myset1.union(myset2))
#intersection returns common items in set
print(myset1.symmetric_difference(myset2)) - it prints everythig apart from common items.

In [49]:
#tuples are immutable lists
#frozensets are immutable sets
#frozensets suports method like copy(), difference(), intersection(), issubset(), issuoerset() etc..
myf=frozenset([1,2,3,4])
print(myf)
myf2 = myf.copy()
print(myf2)

frozenset({1, 2, 3, 4})
frozenset({1, 2, 3, 4})

In [75]:
#dictionary

#it is unordered collection of items
#dict has a a key value and pair.
myd=dict(key1='valued1',key2='valued2')
print(my2)
abc={key1:444, key2:4}
print(abc)
school={"name":["dharvesh","ajit"], "age":[33,45]}
print(school)
print(school["name"])

{4, 6}
{4: 444, 6: 4}
{'name': ['dharvesh', 'ajit'], 'age': [33, 45]}
['dharvesh', 'ajit']

In [85]:
school={1:2,3:4,5:6}
for key,value in school.items():
  print(key, value)

1 2
3 4
5 6

In [87]:
school={1:2,3:4,5:6}
for key in school.keys():
  print(key)

1
3
5

In [ ]:
fruits={'apple':100, 'orange':300, 'pineappe':500}
list1=[]
for key,value in fruits.items():
  if value > 200:
    list1.append(key,value)
    #list1.append()
print(list1)

[(key,value)  for key, value in fruits.items() if value > 200]     #simplest syntax

In [115]:
def eve(number):
 if number%2==0:
  return number

print(list(filter(eve, range(10)))) #filter will only take one value and passes through function name and fikter will let it only pass if output from the function is true

[2, 4, 6, 8]

In [116]:
def eve(number):
 if number%2==0:
  return number

print(list(map(eve, range(10)))) #map will only take one value and passes through function name and  let all pass output from the function is true or false

[0, None, 2, None, 4, None, 6, None, 8, None]

In [119]:
from functools import reduce
def summ(x,y):
  return x+y

reduce(summ, range(101))
#first step reduce function asks range to give 1st two values if present. all remaining iterations it passes one value at a time gets added to previous sum.

5050

In [123]:
def greet(*names): #arbitary functioion we dont know how many attributes passing to function.
# *args --> *parametername
  print(names)
  for name in names:
    print(":welcome to the party {}".format(name))

greet("dharvesh", 3)

('dharvesh', 3)
:welcome to the party dharvesh
:welcome to the party 3

In [128]:
# **kwargs while passing dictionary key value
def printmarks(**marks):
  print(marks)
  for key, value in marks.items():
    print(key,value)

printmarks('amit', maths=100, science=200)

TypeError: printmarks() takes 0 positional arguments but 1 was given

In [131]:
#lamba dfunction

#means anonymous function

square = lambda x : x**2
square(10)

100

In [137]:
myli=[1,2,3,4,5]
#print only elements that are odd by using lambda and filter
list((filter(lambda x: x%2!=0, myli)))

[1, 3, 5]

In [142]:
multilinelambda=lambda x: ( #multiline
    x**2,
    x**3,
    x+10
)

multilinelambda(10) # single
multilinelambda(10)[-1] #particular

20

In [ ]:
#try with reduce and map and try nested filter insdie map and also try error handling

In [148]:
import pandas as pd #learn how the hell we uderstand or from keyword
data = {
    'A': [10, 20, 30, 40, 50],
    'B': [5, 15, 25, 35, 45],
    'C': [2, 4, 6, 8, 10]
}
df = pd.DataFrame(data)
print(df)

    A   B   C
0  10   5   2
1  20  15   4
2  30  25   6
3  40  35   8
4  50  45  10